/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media {
  .theme_light .header__lamp {
    display: none;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #fff1f7;
  --cover-image: url(../images/cover-image-light.png);
  --decoration-color: #353430;
  --accent-color: #ff8dcb;
  --section-heading-color: #353430;
  --nav-color: #353430;
  --nav-hover-color: rgb(53, 52, 48, 1);
  --text-color: #353430;
  --main-heading-color: #353430;

  --header-title-color: #ffc2e6;
  --footer-title-color: #ffc2e6;
}
