/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0 auto;
  color: var(--text-color);
  font-size: var(--font-size);
  background-image: var(--cover-image);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  max-width: 375px;
}

@media (width >= 768px) {
  .page {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .page {
    max-width: 1024px;
  }
}

.header {
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  padding: 10px;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  width: 25px;
  height: 25px;
  display: grid;
}

.decorated-zone::before {
  position: absolute;
  inset-inline-end: var(--small-gap);
  inset-block-start: var(--small-gap);
}

@media (width >= 768px) {
  .decorated-zone::before {
    inset-inline-end: var(--medium-gap);
    inset-block-start: var(--medium-gap);
  }
}

.decorated-zone::after {
  position: absolute;
  transform: rotate(180deg);
  inset-inline-start: var(--small-gap);
  inset-block-end: var(--small-gap);
}

@media (width >= 768px) {
  .decorated-zone::after {
    inset-inline-start: var(--medium-gap);
    inset-block-end: var(--medium-gap);
  }
}

.header__lamp {
  position: absolute;
  color: var(--accent-color);
  text-transform: uppercase;
  inset-inline-end: 38px;
  inset-block-start: 10px;
}

@media (width >= 768px) {
  .header__lamp {
    inset-inline-end: 48px;
    inset-block-start: 20px;
  }
}

.header__lamp::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  margin: -5px -19px;
  border-radius: 100%;
  background-color: var(--decoration-color);
  box-shadow: 0 0 4px 3px var(--nav-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.header__theme-menu {
  padding-inline-end: 3px;
}

@media (width >= 768px) {
  .header__theme-menu {
    padding-inline-end: 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    width: 23%;
  }
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header__theme-menu-button {
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  padding: 2px 14px 4px;
  color: var(--nav-color);
  line-height: 100%;
  text-transform: lowercase;
  opacity: 1;
  transition: 0.3s ease;
  border: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 var(--nav-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-color);
  pointer-events: none;
  font-size: var(--font-size);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--nav-hover-color);
}

.header__title {
  justify-self: start;
  color: var(--header-title-color);
  font-size: var(--header-title-font-size);
  line-height: 97.5px;
  text-shadow: var(--header-text-shadow);
  margin-inline-end: 11px;
}

@media (width >= 768px) {
  .header__title {
    margin-inline-start: -20px;
    letter-spacing: 0px;
  }
}

@media (width >= 1024px) {
  .header__title {
    font-size: var(--header-title-big-font-size);
  }
}

.header__description {
  font-weight: normal;
  white-space: pre-line;
  display: grid;
  width: 100%;
}

@media (width >= 768px) {
  .header__description {
    width: 50%;
  }
}

@media (width >= 1024px) {
  .header__description {
    margin-block-end: -14px;
  }
}

.title-decor {
  color: var(--main-heading-color);
  background-color: var(--accent-color);
}

.sections {
  padding: 40px 10px;
  font-size: var(--font-size);
}

@media (width >= 768px) {
  .sections {
    padding: 60px 20px;
  }
}

.content-gap {
  margin-block-end: var(--small-content-gap);
}

@media (width >= 768px) {
  .why__section {
    margin-block-start: -20px;
    display: grid;
    grid-template-columns: 256px auto;
  }
}

@media (width >= 1024px) {
  .why__section {
    grid-template-columns: 334px auto;
  }
}

.section__title {
  color: var(--section-heading-color);
  font-size: inherit;
}

@media (width >= 768px) {
  .section__title {
    padding-inline-end: 25px;
    margin-block-start: 21px;
  }
}

@media (width >= 768px) {
  .what__section {
    padding-block-start: 8px;
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
  }
}

@media (width >= 1024px) {
  .what__section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width >= 768px) {
  .what__section .section__text {
    grid-column: span 3;
  }
}

@media (width >= 1024px) {
  .what__section .section__text-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--medium-gap);
  }
}

@media (width >= 768px) {
  .how__section {
    display: grid;
    grid-template-columns: 256px auto;
    padding-block-start: 10px;
    padding-block-end: 29px;
  }
}

@media (width >= 1024px) {
  .how__section {
    grid-template-columns: 334px auto;
  }
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__text .section__text-content:first-of-type {
  margin: 0;
}

.section__text-content-item {
  color: var(--text-color);
  line-height: var(--text-line-height);
}

.section__text-content-item-title {
  font-size: var(--font-size);
  line-height: var(--text-line-height);
  margin-block-start: var(--medium-gap);
}

.section__text-content-paragraph {
  font-size: var(--font-size);
  padding-block-start: var(--small-gap);
}

.section__text-heading {
  margin-block-start: var(--medium-gap);
  font-weight: normal;
  font-size: var(--font-size);
  line-height: var(--text-line-height);
}

.cards__images {
  display: grid;
  gap: var(--small-gap);
}

@media (width >= 768px) {
  .cards__images {
    gap: var(--medium-gap);
    grid-template-columns: repeat(3, 1fr);
  }
}

.cards__images-title {
  font-size: var(--font-size);
  line-height: var(--text-line-height);
}

@media (width >= 768px) {
  .cards__images-title {
    grid-column: span 3;
  }
}

.cards__images-item {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px) {
  .cards__images-item {
    block-size: 100%;
  }
}

@media (width >= 768px) {
  .sunset {
    grid-column: span 2;
  }
}

@media (width >= 768px) {
  .ice-cream {
    grid-row: span 2;
  }
}

@media (width >= 768px) {
  .tape {
    grid-row: span 2;
  }
}

@media (width >= 768px) {
  .books {
    grid-column: 2;
    grid-row: 3;
  }
}

@media (width >= 768px) {
  .street {
    grid-column: span 2;
  }
}

.footer {
  position: relative;
  display: grid;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  padding: var(--small-gap);
  align-content: center;
  letter-spacing: -2px;
}

@media (width >= 768px) {
  .footer {
    padding: var(--medium-gap);
    letter-spacing: 0px;
    justify-content: center;
  }
}

.footer__title {
  color: var(--footer-title-color);
  font-size: var(--footer-title-font-size);
  text-shadow: var(--footer-text-shadow);
  letter-spacing: 1px;
}

@media (width >= 1024px) {
  .footer__title {
    font-size: var(--header-title-big-font-size);
  }
}
/*на сегодня все*/
